
@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/iletisim/Shared/_Layout.cshtml";
}

<h1>İletişim</h1>


Konaklama ve Rezervasyon için iletişim bilgilerimiz;

<p><i class="fa fa-phone"></i>  (0539)-522-89-55</p>

<p></p>
<p></p>

Ulaşılamadığı takdirde yedek telefon numarası;

<p><i class="fa fa-phone"></i>(0538)-450-74-64</p>