<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="~/Views/iletisim/styles/iletisim.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
   

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand  navbar-brand-centered" href="#">ÖZGÜR PANSİYON</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.artvinozgurpansiyon.com">Anasayfa</a></li>
                    <li><a href="http://www.artvinozgurpansiyon.com/ulasim">Ulaşım</a></li>
                    <li><a href="http://www.artvinozgurpansiyon.com/mutfak">Mutfak</a></li>
                    <li><a href="http://www.artvinozgurpansiyon.com/iletisim">İletişim</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <ul>
        <li>

        </li>
        <li>

        </li>
    </ul>


    <div class="container body-content">
        <hr />
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - Özgür Pansiyon</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</body>
</html>
