<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Özgür Pansiyon</title>
    <link href="~/Views/mutfak/styles/mutfak.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <section>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand  navbar-brand-centered" href="#">ÖZGÜR PANSİYON</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://www.artvinozgurpansiyon.com/">Anasayfa</a></li>
                        <li><a href="http://www.artvinozgurpansiyon.com/ulasim">Ulaşım</a></li>
                        <li><a href="http://www.artvinozgurpansiyon.com/mutfak">Mutfak</a></li>
                        <li><a href="http://www.artvinozgurpansiyon.com/iletisim">İletişim</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <section>
        <ul>
            <li>

            </li>
            <li>

            </li>
             <li>

             </li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- begin panel group -->
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <!-- panel 1 -->
                        <div class="panel panel-default">
                            <!--wrap panel heading in span to trigger image change as well as collapse -->
                            <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                                <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h4 class="panel-title">KAHVALTI</h4>
                                </div>
                            </span>

                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>
                                        Konaklayan misafirlerimize istedikleri takdirde kahvaltı servisimiz vardır.(Ücrete tabidir.) Kahvaltımızda;
                                        <ul>
                                            <li>4 çeşit peynir,</li>
                                            <li> Hakiki yöresel tereyağı,</li>
                                            <li>yöresel kaymak,</li>
                                            <li> Organik reçel,</li>
                                            <li>Köy yumurtası,</li>
                                            <li>Seramızdan taze sebzeler,</li>
                                            <li> Peynir eritmesi ya da mıhlama,</li>
                                            <li> erişte,</li>
                                            <li>kete verilmektedir.</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- / panel 1 -->
                        <!-- panel 2 -->
                        <div class="panel panel-default">
                            <!--wrap panel heading in span to trigger image change as well as collapse -->
                            <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                                <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h4 class="panel-title collapsed"> ÇARDAK</h4>
                                </div>
                            </span>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <!-- Tab content goes here -->
                                    <p>
                                        Pansiyonumuza ait bir çardak bulunmaktadır.Konaklayan misafirlerimiz istedikleri zaman çay içebilir
                                        bahçede mangal yapabilir ve yemek yiyebilirler.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <!-- / panel 2 -->
                        <!--panel3-->

                        <div class="panel panel-default">
                            <!--wrap panel heading in span to trigger image change as well as collapse -->
                            <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                                <div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h4 class="panel-title collapsed">MUTFAK </h4>
                                </div>
                            </span>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <!-- Tab content goes here -->

                                </div>
                            </div>
                        </div>
                        <!--/panel 3-->
                    <!--panel 4-->
                        <div class="panel panel-default">
                            <!--wrap panel heading in span to trigger image change as well as collapse -->
                            <span class="side-tab" data-target="#tab4" data-toggle="tab" role="tab" aria-expanded="false">
                                <div class="panel-heading" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <h4 class="panel-title collapsed">MUTFAK ~ BAHÇE GİRİŞİ</h4>
                                </div>
                            </span>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <!-- Tab content goes here -->

                                </div>
                            </div>
                        </div>
                    <!--/panel 4-->
                        <!--  panel 5 -->
                        <div class="panel panel-default">
                            <!--wrap panel heading in span to trigger image change as well as collapse -->
                            <span class="side-tab" data-target="#tab5" data-toggle="tab" role="tab" aria-expanded="false">
                                <div class="panel-heading" role="tab" id="headingFive" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseFive">
                                    <h4 class="panel-title">MUTFAK YANI</h4>
                                </div>
                            </span>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <!-- tab content goes here -->
                 
                                  
                                    
                                </div>
                            </div>
                        </div>
                    </div> <!-- / panel-group -->

                </div> <!-- /col-md-4 -->

                <div class="col-md-8">
                    <!-- begin macbook pro mockup -->
                    <div class="md-macbook-pro md-glare">
                        <div class="md-lid">
                            <div class="md-camera"></div>
                            <div class="md-screen">
                                <!-- content goes here -->
                                <div class="tab-featured-image">
                                    <div class="tab-content">
                                        <div class="tab-pane  in active" id="tab1">
                                            <img src="~/Content/img/kahvaltı pansiyon.jpg" alt="tab1" class="img img-responsive">
                                        </div>
                                        <div class="tab-pane " id="tab2">

                                            <img src="~/Content/img/cardak_640x480.jpg">

                                        </div>
                                        <div class="tab-pane " id="tab3">

                                            <img src="~/Content/img/mutfak (2)_640x480.jpg" >
                                        </div>
                                        <div class="tab-pane " id="tab4">

                                            <img src="~/Content/img/mutfak_640x480.jpg" >
                                        </div>
                                        <div class="tab-pane fade" id="tab5">

                                            <img src="~/Content/img/mutfak yanı_640x480.jpg" alt="tab5" class="img img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md-base"></div>
                    </div> <!-- end macbook pro mockup -->

                </div> <!-- / .col-md-8 -->
            </div> <!--/ .row -->
        </div> <!-- end sidetab container -->
    </section>

              

    <div class="container body-content">
        <hr />
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - Özgür Pansiyon</p>
        </footer>

    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

   
    
</body>
</html>





